html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

* html .page-wrapper {
    height: 100%;
}
#login .clear {
    height: 157px;
}
#login .box {
    margin-top: 50px;
}
body
{
	margin: 0;
	padding: 0;
	color: #555;
	font: normal 10pt Arial,Helvetica,sans-serif;
	background: #EFEFEF;
}
div#content {
    margin: 0 50px;
}
.wide.form input {
    width: 145px;
}



#header
{
	margin: 0;
	padding: 0;
}



#sidebar
{
	padding: 20px 20px 20px 0;
}

#footer
{

	text-align: center;
}




#mainmenu
{
	background:white url(bg.gif) repeat-x left top;
}

#mainmenu ul
{
	padding:6px 20px 5px 20px;
	margin:0px;
}

#mainmenu ul li
{
	display: inline;
}

#mainmenu ul li a
{
	color:#ffffff;
	background-color:transparent;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	padding:5px 8px;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
	color: #6399cd;
	background-color:#EFF4FA;
	text-decoration:none;
}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
}
.grid-view table.items th, .grid-view table.items td {
    font-size: 1.1em !important;
    border: 1px white solid;
    padding: 0.3em;
}
.grid-view table.items th {
    color: white;
    background: #33b5e5 !important;
    text-align: center;
}


.portlet-decoration
{
	padding: 3px 8px;
	background: #DD4B39;
	border-left: 10px solid #33b5e5;
        color: white;
}

.portlet-title
{
    font-size: 24px;
    line-height: 110%;
    margin: 1.14rem 0 0.912rem 0;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
        width: 100%;
}

.operations li a
{
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	background: #80CFFF;
}